.home-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.t-shirt-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
/* Media Queries */
@media only screen and (max-width: 768px) {
  .home-container{
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
  }
  .t-shirt-container{
    grid-template-columns: repeat(2,1fr);
    /* gap: 10px; */
  }
}

@media only screen and (max-width: 320px) {
  .home-container{
    grid-template-columns: 1fr;
  }
  .t-shirt-container{
    grid-template-columns: repeat(1,1fr);
  }
}

